h1 {
	color: rgba(2, 132, 130, 1);
}

h2 {
	color: #ffd700;}

h3 {
	color: #a9a9d9;
	font-size: 15px;}
h4 {
	color: #ffffff;
	font-size: 25px; 
	z-index: 10px;
	position: absolute;
	right: 27%;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	background-image: url('table.jpg');
}
.card {
height: 200px;
width: 150px;
background-image: url('card-back.jpg');
background-color: yellow;
border: 1px solid #000000;
border-radius: 10px;
float: left;
margin: 8%;
}

.Score {
	color: #ff0000;
}
button{ 
	position: absolute;
	bottom: 10%;
	right: 27%;
	font-size: 20px;
	color: #ffffff;
	background-color: #ff0000;
	border: 7.5px dotted #4169e1;
	border-radius: 50%;
	padding: 10px;
	z-index: 10;
}
body{
	text-align: center;

}
nav {
	height: 88px;
	background-color: #808080;
}
nav a{
	background-color: #ffbf00;
	text-decoration: none;
	color: #ffffff;
	padding: 35px;
	display: block;
	float: left;
}
nav a:hover{
	background-color: #ee5f3c;
}
.clearfix:after {
	 visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
} 
footer{
	background-color: #808080;
}
img{
	height: 200px; 
	width: 150px;
}